# Server
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
# Optional auth header for the OTLP collector
# OTEL_EXPORTER_OTLP_AUTHORIZATION="Bearer your_token_here"
OTEL_SERVICE_NAME=opentelemetry-nextjs
NEXT_OTEL_VERBOSE=1

# Client
NEXT_PUBLIC_OTEL_EXPORTER_OTLP_ENDPOINT=/api/otel
NEXT_PUBLIC_OTEL_SERVICE_NAME=opentelemetry-nextjs-web
